.gesture-sequence {
  text-align: center;
}

.gesture {
  width: 172px;
  margin: 15px;
  background-color: #666666;
  border-radius: 100%;
}

.gestures {
  display: inline-flex;
}

.order-form {
  border-radius: 12px;
  width: 100%;

}

.order-form-sub{
  margin: 20px auto;
  padding: 20px;
  display: flex;
  max-width: 100%;
  height: 80px;
}

.form-control {
  margin: 0 0 12px 0;
}

.card-number {
  width: 60px;
}

.wait {
  color: #a3bad2;
}

.pass {
  color: 	green;
}

.fail {
  color: #db1321;
}

.loading-area {
  margin: 20px 0 0 0;
}

.container {
  width: 800px;
}

.buy-button {
  height:40px;
  margin: 0 0 0 auto;
  border-radius: 2px;
  background-color: #5DBCD2;
  width: 80px;
  border: none;
  color: white;
  font-weight: normal;
  letter-spacing: 2px;
}

body {
  background-color: #222222;
}

h1 {
  text-align: center;
  font-weight: normal;
  letter-spacing: 4px;
  color: white;
  font-size: 36px;
}

span {
  margin: 0;
  display: flex;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 200px;
}

.header {
  text-align: center;
  color: #305078;
}

.form-control {
  margin: 0 4px;
}

#cardNumber {
  width: 216px;
}

.alert {
  color: lightgray;
}

.gesture-label {
  color: lightgray;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 4px;
}

label {
  color: lightgray;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: auto 0;
}

#cardNumber {
  background-color: transparent;
  color: white;
  height: 100%;
  margin: 0 auto 0 10px;
}

#CVC {
  background-color: transparent;
  color: white;
  height: 100%;
}

.buy-icon {
  margin: 0 10px 0 0;
}

.completed {
  border: 4px green solid;
}

.failed {
  border: 4px red solid;
}

.future {
  opacity: .1;
}

.retry {
  border: 4px orange solid;
}