.gesture-sequence {
  text-align: center;
}

.gesture {
  width: 120px;
  margin: 15px;
  background-color: #666666;
  border-radius: 100%;
}

.order-form {
  background-color: #a3bad2;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 4px 20px #888888;

}

.order-form-sub{
  margin: 20px auto;
  padding: 20px;
  display: flex;
  max-width: 100%;
}

.form-control {
  margin: 0 0 12px 0;
}

.card-number {
  width: 60px;
}

.wait {
  color: #a3bad2;
}

.pass {
  color: 	green;
}

.fail {
  color: #db1321;
}

.loading-area {
  margin: 20px 0 0 0;
}

.container {
  width: 800px;
}

.buy-button {
  height:40px;
  margin: auto 10px auto 20px;
  border-radius: 2px;
  background-color: #305078;
  border-radius: 2px;
  box-shadow: 0 4px 20px #888888;

}

body {
  background-color: #dbe4ed;
}

h1 {
  text-align: center;
}

span {
  margin: 0 20%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.header {
  text-align: center;
}